span {
    padding-left: 5px;
}

.title {
    color: rgb(150, 150, 125);
    font-weight: bold;
    line-height: 50px;
    display: block;
}

#corpo {
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-left: 5px;
}

.pgns {
    display: inline-block;
    color:grey;
    font-weight: bold;
    word-spacing: 5px;
}

.no-color {
    color: black;
}

.resumo {
    background: beige;
}