#corpo {
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
}
.pgns {
    display: inline-block;
    color:DarkSlateGrey;
    font-weight: bold;
    word-spacing: 5px;
}
.no-color {
    color: black;
}