nav {
    background-color: #333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}